.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 2rem;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 2px;
}

.card img {
  width: 100%;
}

.card h2 {
  color: black;
}

.modal-outer {
  display: grid;
  background: hsla(50, 100%, 50%, 0.7);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  /* Hide this modal until we need it */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.modal-outer img {
  width: 100%;
}

.modal-outer.open {
  opacity: 1;
  pointer-events: all;
}

.modal-inner {
  max-width: 600px;
  min-width: 400px;
  padding: 2rem;
  border-radius: 5px;
  min-height: 200px;
  background: white;
  transform: translateY(-200%);
  transition: transform 2s;
}

.modal-outer.open .modal-inner {
  transform: translateY(0);
}
